* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  background-color: rgba(146, 52, 49, 0.6901960784);
}
body main div h2 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 200%;
  background-color: white;
  padding: 20px;
}
body .container-fluid {
  padding: 20px;
  background-color: rgba(146, 52, 49, 0.6901960784);
  margin-bottom: 30px;
  border: 3px solid rgba(146, 52, 49, 0.6901960784);
}
body .container-fluid .nav-item {
  margin-left: 80px;
  margin-bottom: 5px;
}
body .container-fluid .nav-item .nav-link {
  font-size: 140%;
  font-family: "Bebas Neue", cursive;
  border-bottom: 3px solid rgba(146, 52, 49, 0.6901960784);
  border-top: 3px solid rgba(146, 52, 49, 0.6901960784);
}
body .container-fluid .nav-item .nav-link:hover {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  -webkit-text-fill-color: white;
}
body nav div a {
  text-align: right;
}
body nav div a img {
  border: 2px solid rgba(146, 52, 49, 0.6901960784);
  border-radius: 20%;
}
body nav div a img:hover {
  border: 2px solid black;
}
body .dropdown-menu {
  border: 2px solid black;
  background-color: rgba(146, 52, 49, 0.6901960784);
}
body .dropdown-item {
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

.cards {
  margin-top: 30px;
  margin-bottom: 55px;
}
.cards .card-index {
  border: groove 2px rgba(146, 52, 49, 0.6901960784);
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.cards .card-index:hover {
  opacity: 50%;
}
.cards .card-index .card-text {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: rgba(146, 52, 49, 0.6901960784);
}

.card-row {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px dashed rgba(146, 52, 49, 0.6901960784);
}
.card-row .card-body {
  margin-top: 40px;
  margin-bottom: 40px;
}
.card-row .card-body .card-title {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 300%;
  padding: 20px;
  color: rgba(146, 52, 49, 0.6901960784);
}
.card-row .card-body .card-text {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: rgba(146, 52, 49, 0.6901960784);
}
.card-row .card-var {
  margin-top: 60px;
}
.card-row .card-var .list-group-item {
  background-color: black;
  color: white;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

.centrado {
  text-align: center;
}
.centrado .card-img-bottom {
  width: 50%;
  margin-top: 30px;
}
.centrado .card-img-bottom:hover {
  opacity: 50%;
}

.card-suc .card-img-top:hover {
  opacity: 50%;
}
.card-suc .card-title {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 300%;
  padding: 20px;
  color: rgba(146, 52, 49, 0.6901960784);
}
.card-suc .card-text-ubi {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: white;
}

.form-control {
  border: 2px solid rgba(146, 52, 49, 0.6901960784);
  background-color: black;
  -webkit-text-fill-color: white;
}

.form-check-label {
  color: rgba(146, 52, 49, 0.6901960784);
}

.btn {
  background-color: rgba(146, 52, 49, 0.6901960784);
  border: 3px solid rgba(146, 52, 49, 0.8);
  margin-bottom: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 120%;
}
.btn:hover {
  background-color: white;
  border: 3px solid rgba(146, 52, 49, 0.6901960784);
}

footer {
  padding: 20px;
  background-color: grey;
  margin-bottom: 30px;
}
footer .txtFooter {
  font-size: 110%;
  color: black;
  padding: 20px;
  font-family: "Bebas Neue", cursive;
  opacity: 50%;
}
footer .txtFooter:hover {
  opacity: 100%;
  color: rgba(146, 52, 49, 0.6901960784);
}
footer section {
  padding-top: 20px;
  text-align: center;
}
footer section img {
  height: 20px;
  border-radius: 20%;
  margin-left: 5px;
  margin-right: 5px;
}
footer section img:hover {
  opacity: 50%;
}

/*# sourceMappingURL=styles.css.map */
