footer {
    padding: 20px;
    background-color:grey;
    margin-bottom: 30px;

    .txtFooter {
        font-size: 110%;
        color: black;
        padding: 20px;
        font-family: 'Bebas Neue', cursive;
        opacity: 50%;
    
        &:hover {
            opacity: 100%;
            color:#923431B0;
        }
    }

    section {
        padding-top: 20px;
        text-align: center;

        a {
            img {
                height: 20px;
                border-radius: 20%;
                margin-left: 5px;
                margin-right: 5px;
    
                &:hover {
                    opacity: 100%;
                    color:#923431B0;
                }
            }
        }

    }

}